* {
  padding: 0;
  margin: 0;
  border: 0;
}

button {
  padding: 1rem;
  width: 20rem;
  height: 0.7rem;
  display: block;
  text-align: center;
  margin: 5px;
}

h4 {
  margin: 30px;
}

.correctButton {
  background-color: lightgreen;
}

.incorrectButton {
  background-color: darksalmon;
}

.menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;

  > div {
    display: inline-block;
  }

  > h3 {
    padding: 0.4rem;
  }
}

.quiz {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;

  > h2 {
    padding: 2rem;
  }

  #quizNavBtns {
    button {
      display: inline-block;
      width: 200px;
    }
  }
}

#answerInput {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Frame {
  position: relative;
  top: 0;
  left: 0;
}

#birdImage {
  position: relative;
  top: 0;
  left: 0;
}

#loadingOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  display: none;
}

#quizLoadingScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active {
  display: block;
}

.quizTwo {
  h2 {
    padding: 1.4rem;
  }

  > #Frame {
    display: none;
  }

  > #answerInput {
    display: grid;
    grid-row: auto auto;
    height: 40rem;
    width: 40rem;
    // grid-template-columns: 500px 500px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;

    .answerBtn {
      display: flex;
      background-color: transparent;
      overflow: hidden;
      border: 4px solid #ccc;
      height: 20rem;
      width: 20rem;
      margin: 0;
      padding: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      .answerBtnBg {
        background-size: cover;
        display: block;
        position: relative;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform: scale(1.05);
      }
    }
  }
}