* {
  padding: 0;
  margin: 0;
}

button {
  padding: 1rem;
  width: 20rem;
  height: 0.7rem;
  display: block;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
}

h2 {
  margin: 20px;
}

h4 {
  margin: 30px;
}

.correctButton {
  background-color: lightgreen;
}

.incorrectButton {
  background-color: darksalmon;
}

#fourAnswerOneImgQuiz {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  display: block;
}

#answerInput {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}