* {
  padding: 0;
  margin: 0;
}

button {
  padding: 1rem;
  width: 20rem;
  height: 0.7rem;
  display: block;
  text-align: center;
  margin: 5px;
}

h4 {
  margin: 30px;
}

.correctButton {
  background-color: lightgreen;
}

.incorrectButton {
  background-color: darksalmon;
}

.menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;

  > div {
    display: inline-block;
  }

  > h3 {
    padding: 0.4rem;
  }
}

.quiz {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;

  > h2 {
    padding: 2rem;
  }

  .quitBtn {
    display: inline-block;
  }
}

.active {
  display: block;
}

#answerInput {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Frame {
  position: relative;
  top: 0;
  left: 0;
}

#birdImage {
  position: relative;
  top: 0;
  left: 0;
}

#loadingOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  display: none;
}

#quizLoadingScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}