@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Montserrat', sans-serif; }

@keyframes fadeInAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fade-in {
  opacity: 3s;
  transition: all 12s ease-in-out; }

body {
  background: url("/img/bird_flying.png") no-repeat;
  height: 100%;
  width: 100%;
  background-size: 100vw 100vh;
  overflow: hidden; }

.gradientBackground {
  background: black;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #fbf7f5 10%, #fbf7f5 90%, rgba(0, 0, 0, 0) 100%); }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

button {
  padding: 1rem;
  width: 20rem;
  height: 0.7rem;
  display: block;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  border: 2px #ccc solid;
  line-height: 0.2rem; }

button:hover:enabled {
  background-color: #add8e6;
  color: white;
  transition: 0.4s; }

h4 {
  margin: 30px; }

.correctButton {
  background-color: lightgreen; }

.incorrectButton {
  background-color: darksalmon; }

.menu {
  text-align: center;
  display: none; }
  .menu > div > div {
    margin: 0 auto;
    display: block; }
    .menu > div > div > button {
      margin: 1.2rem auto; }
  .menu > h3 {
    padding: 0.4rem; }
  .menu > h2 {
    padding: 0rem; }
  .menu > #quizSelectButtons {
    padding: 3rem; }

.quiz {
  width: 60rem;
  height: 100%;
  text-align: center;
  display: none; }
  .quiz #quizNavBtnsScore {
    display: inline-block; }
    .quiz #quizNavBtnsScore > #countdownTimer {
      display: none; }
  .quiz > div h2 {
    font-size: 1.4rem;
    padding: 1.2rem; }
  .quiz > div > #quizQuestionAndNumber {
    margin: 0rem;
    padding: 1rem; }
  .quiz > div > #banNavBtns {
    display: none; }
  .quiz > div > #banQuestion {
    display: none; }

#answerInput {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

#loadingOverlay {
  height: 100px;
  display: none; }

#quizLoadingScreen > div #quizLoadingText {
  padding: 3rem; }

#quizCompleteScreen > div > #quizNavBtns {
  display: inline-block; }

.active {
  display: block; }

.quizOne > #quizQuestionAndNumber {
  margin-top: 0rem;
  padding: 1rem; }

.quizOne > #quizNavBtnsScore {
  position: relative;
  top: 0rem; }

.quizOne > div > #Frame {
  display: grid;
  justify-items: center;
  align-items: center; }
  .quizOne > div > #Frame > img {
    grid-column: 1;
    grid-row: 1; }

.quizOne > #answerInput .answerBtn {
  display: inline-block;
  overflow: hidden;
  border: 4px solid #ccc;
  height: 1rem;
  width: 20rem;
  margin: 0.5rem;
  padding: 1rem;
  background-color: 'white'; }
  .quizOne > #answerInput .answerBtn .answerBtnText {
    display: block; }
  .quizOne > #answerInput .answerBtn .answerBtnBg {
    background-color: 'white';
    background-size: cover;
    display: block;
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; }

.quizTwo > div > #quizQuestionAndNumber {
  padding: 3rem; }

.quizTwo > div > #quizNavBtnsScore {
  position: relative; }

.quizTwo > div > #Frame {
  display: none; }

.quizTwo > div > #answerInput {
  display: grid;
  margin: 0 auto;
  grid-row: auto auto;
  width: 30rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center; }
  .quizTwo > div > #answerInput .answerBtn {
    display: flex;
    background-color: transparent;
    overflow: hidden;
    border: 4px solid #ccc;
    height: 16rem;
    width: 16rem;
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
    .quizTwo > div > #answerInput .answerBtn .answerBtnText {
      display: none; }
    .quizTwo > div > #answerInput .answerBtn .answerBtnBg {
      background-size: cover;
      display: block;
      position: relative;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      transform: scale(1.05); }

.timerActive #quizNavBtnsScore {
  display: grid;
  grid-template-columns: 15rem 20rem;
  grid-template-rows: repeat(3, 3rem);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 1rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center; }
  .timerActive #quizNavBtnsScore > #countdownTimer {
    display: block;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    border: 1px solid;
    margin: 3rem;
    grid-area: 1 / 1 / 4 / 2; }
  .timerActive #quizNavBtnsScore > #scoreText {
    grid-area: 1 / 2 / 2 / 3;
    margin: 1rem; }
  .timerActive #quizNavBtnsScore > #banImageBtn {
    grid-area: 2 / 2 / 3 / 3; }
  .timerActive #quizNavBtnsScore > #inGameQuitBtn {
    grid-area: 3 / 2 / 4 / 3; }
  .timerActive #quizNavBtnsScore button {
    width: 200px; }

.banSelection > div > #quizNavBtnsScore {
  display: none; }

.banSelection > div > #quizQuestionAndNumber {
  display: none; }

.banSelection > div > #banNavBtns {
  display: inline-block;
  margin: 0 auto;
  padding: 5rem; }

.banSelection > div > #banQuestion {
  display: inline-block;
  padding: 5rem; }

#quizBanScreenConfirmation #banFinalBtns {
  padding: 4rem; }
  #quizBanScreenConfirmation #banFinalBtns button {
    margin: 0 auto;
    margin-bottom: 1rem; }

#howToPlayPage > div {
  height: 100vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #howToPlayPage > div > div > ul {
    list-style-position: inside;
    padding: 1rem; }
    #howToPlayPage > div > div > ul > li {
      padding: 0.5rem;
      margin: 0; }
  #howToPlayPage > div > div > h2 {
    padding: 1rem;
    text-align: center; }
  #howToPlayPage > div > div > h4 {
    margin-bottom: 0;
    text-align: center; }
  #howToPlayPage > div > div > p {
    padding: 1.5rem; }
  #howToPlayPage > div > div > button {
    margin: 0 auto;
    margin-top: 2rem; }
