@media only screen and (max-device-width: 480px) {
  * {
    overflow-wrap: break-word; }
  .menu {
    align-items: center;
    text-align: center; }
    .menu h3 {
      margin: 3rem; }
    .menu button {
      display: inline-block; }
  .active {
    display: flex; }
  body,
  #quizScreen,
  #howToPlayPage {
    background: url("/img/forest_bird.jpg") no-repeat;
    background-size: auto 110vh;
    background-position: -200px 0px;
    height: 100%;
    width: 100%; }
  #quizSelectMenu div {
    display: flex;
    flex-direction: column;
    padding: 3rem; }
  .quiz > div {
    position: absolute;
    overflow: hidden;
    width: 60rem; }
    .quiz > div h2 {
      font-size: 4rem; }
    .quiz > div > #banQuestion {
      display: none; }
    .quiz > div button {
      margin: 2rem; }
  .quiz #banNavBtns {
    display: none; }
  .quiz.banSelection > div > #quizNavBtnsScore {
    display: none; }
  .quiz.banSelection > div > #quizQuestionAndNumber {
    display: none; }
  .quiz.banSelection > div > #banQuestion {
    display: block; }
  .quiz.banSelection > div > #banNavBtns {
    display: inline-block;
    margin: 0 auto;
    padding: 5rem; }
  .quizTwo {
    overflow: scroll; }
    .quizTwo > div > #Frame {
      display: none; }
    .quizTwo > div > #answerInput {
      display: grid;
      margin: 0 auto;
      grid-row: auto auto;
      width: 30rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-content: center;
      justify-items: center; }
      .quizTwo > div > #answerInput .answerBtn {
        padding: 0;
        margin: 0;
        height: 25rem;
        width: 25rem;
        min-width: 0rem;
        background-size: cover;
        background-position: center; }
        .quizTwo > div > #answerInput .answerBtn .answerBtnText {
          display: none; }
  #howToPlayPage > div {
    height: 100%;
    width: 100%; }
  #howToPlayPage #howToPlayText {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
    margin: 2.5rem; }
    #howToPlayPage #howToPlayText > :last-child {
      padding-bottom: 50rem; }
    #howToPlayPage #howToPlayText > ul {
      list-style-position: outside;
      padding-left: 1.6em; }
  #howToPlayPage #howToPlayPageButtons button {
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    transform: translateX(-50%); }
  h1 {
    font-size: 5rem; }
  h2 {
    font-size: 5rem; }
  h3 {
    font-size: 3rem; }
  h4 {
    font-size: 3rem; }
  p,
  li,
  ul {
    font-size: 3rem;
    margin: 0;
    padding: 0; }
  #howToPlayPage {
    overflow: scroll;
    width: 100vw; }
    #howToPlayPage > div > div {
      height: 100%;
      width: 100%;
      margin: 5rem; }
      #howToPlayPage > div > div > * {
        margin: 2rem;
        padding: 3rem; }
      #howToPlayPage > div > div > ul > li {
        margin-top: 4rem;
        margin-bottom: 4rem; }
      #howToPlayPage > div > div h2 {
        margin: 8rem; }
      #howToPlayPage > div > div button {
        margin: 4rem; }
  #aboutPage > div {
    width: 100vw; }
    #aboutPage > div button {
      margin: 3rem; }
  button {
    min-width: 40rem;
    font-size: 4rem;
    display: block; }
  .quiz > div {
    width: 100%; }
    .quiz > div > #quizNavBtnsScore {
      display: inline-block;
      margin: 5rem; }
  .timerActive > div {
    width: 100%; }
    .timerActive > div > #quizNavBtnsScore {
      display: grid;
      grid-template-columns: 10rem;
      grid-template-rows: repeat(4, 10rem);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin: 0 auto; }
      .timerActive > div > #quizNavBtnsScore > #countdownTimer {
        grid-area: 1 / 1 / 2 / 2; }
      .timerActive > div > #quizNavBtnsScore > #scoreText {
        grid-area: 2 / 1 / 3 / 2; }
      .timerActive > div > #quizNavBtnsScore > #banImageBtn {
        grid-area: 3 / 1 / 4 / 2; }
      .timerActive > div > #quizNavBtnsScore > #inGameQuitBtn {
        grid-area: 4 / 1 / 5 / 2; }
  #quizBanScreenConfirmation {
    height: 100vh;
    width: 100vw; }
    #quizBanScreenConfirmation > div {
      width: 100%;
      display: flex;
      flex-direction: column; }
      #quizBanScreenConfirmation > div > #banImage {
        margin: 0 auto; }
  #quizCompleteScreen {
    width: 100vw;
    height: 100vh;
    text-align: center; }
    #quizCompleteScreen > div {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column; }
      #quizCompleteScreen > div > h2 {
        font-size: 3rem; }
      #quizCompleteScreen > div > #quizNavBtns {
        margin: 0 auto; }
  #quizLoadingScreen {
    height: 100vh;
    width: 100vw; }
    #quizLoadingScreen > div {
      width: 100%;
      height: auto; }
      #quizLoadingScreen > div #quizLoadingText {
        padding: 3rem;
        margin: 3rem; }
  .gradientBackground {
    background: none; } }
